<div class="col s12">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a data-target="mobile-navbar" class="sidenav-trigger cursor-pointer">
        <i class="material-icons">menu</i>
      </a>

      <ul class="left hide-on-med-and-down">
        <app-sidenav-links [links]="mainRoutes"></app-sidenav-links>

        <li>
          <a class="dropdown-trigger" data-target="general-settings">General settings
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <app-sidenav-links [links]="infoRoutes"></app-sidenav-links>

        <li>
          <a (click)="signOut()"><i class="material-icons">exit_to_app</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul id="general-settings" class="dropdown-content">
  <app-sidenav-links [links]="generalSettingsRoutes"></app-sidenav-links>
</ul>

<ul id="general-settings-mobile" class="dropdown-content">
  <app-sidenav-links [links]="generalSettingsRoutes"></app-sidenav-links>
</ul>

<ul class="sidenav" id="mobile-navbar">
  <app-sidenav-links [links]="mainRoutes"></app-sidenav-links>

  <li>
    <a class="dropdown-trigger" data-target="general-settings-mobile">General settings
      <i class="material-icons right">arrow_drop_down</i>
    </a>
  </li>

  <app-sidenav-links [links]="infoRoutes"></app-sidenav-links>

  <li>
    <a (click)="signOut()"><i class="material-icons">exit_to_app</i></a>
  </li>
</ul>
