<div class="col s12">
  <div class="row">
    <div class="col s12">
      <h6>Enter your login and password to Sign up</h6>
    </div>
    <app-input
      [type]="'text'"
      [label]="'Login'"
      (valueEmitter)="changeLogin($event)"
    ></app-input>
    <app-input
      [type]="'password'"
      [label]="'Password'"
      (valueEmitter)="changePassword($event)"
    ></app-input>
    <div class="col s12">
      <a
        class="waves-effect waves-light btn purple darken-1"
        [routerLink]="['../login']"
      >Sign in</a>
      <a
        class="waves-effect waves-light btn purple darken-1"
        (click)="tryRegister()"
        [class.grey]="registrationDisabled"
      >Sign up</a>
    </div>
  </div>
</div>
