<div class="col s6 offset-s3">
  <app-input
    [type]="'text'"
    [value]="objectName"
    (valueEmitter)="setCurrentObjectName($event)"
  ></app-input>
  <div class="col s12">
    <app-button
      (clicked)="updateObject()"
      [isDisabled]="updatingDisabled"
      [text]="'Save'"
    ></app-button>
    <app-button-modal-trigger
      class="margin-l10"
      [dataTarget]="'deleteObjectConfirm'"
      [text]="'Delete'"
    ></app-button-modal-trigger>
  </div>
</div>

<div id="deleteObjectConfirm" class="modal">
  <div class="modal-content">
    <h4>Are you sure you ant to delete this object?</h4>
  </div>
  <div class="modal-footer">
    <a
      class="modal-close waves-effect waves-green btn-flat"
      (click)="deleteObject()"
    >Delete</a>
    <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<div class="col s12">
  <app-button-with-icon
    [routerLink]="['../../create-command', objectHash]"
    [text]="'Add command'"
    [iconName]="'add'"
    [iconPosition]="'right'"
  ></app-button-with-icon>
</div>

<div class="col s12">
  <h5>Commands list:</h5>
  <ul class="collapsible popout">
    <li *ngFor="let command of commands">
      <div class="collapsible-header">{{command.name}}</div>
      <div class="collapsible-body">
        <p>Base URL: {{command.base_url}}</p>
        <p>Method: {{command.method}}</p>
        <p>Endpoint: {{command.endpoint}}</p>
        <p>Pass arguments in URL: {{command.pass_arguments_in_url}}</p>
        <p>Headers: {{prepareKeyValue(command.headers)}}</p>
        <p>Cookies: {{prepareKeyValue(command.cookies)}}</p>
      </div>
    </li>
  </ul>
</div>

<div class="col s12" *ngIf="!hasCommands()">
  <h6>No commands created yet</h6>
</div>
