<div class="col s12">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a data-target="mobile-navbar" class="sidenav-trigger cursor-pointer">
        <i class="material-icons">menu</i>
      </a>

      <ul class="left hide-on-med-and-down">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['./sign-in']">Sign in</a>
        </li>

        <li [routerLinkActive]="['active']">
          <a [routerLink]="['./sign-up']">Sign up</a>
        </li>

        <li [routerLinkActive]="['active']">
          <a [routerLink]="['./about']">About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-navbar">
  <li [routerLinkActive]="['active']">
    <a [routerLink]="['./sign-in']">Sign in</a>
  </li>

  <li [routerLinkActive]="['active']">
    <a [routerLink]="['./sign-up']">Sign up</a>
  </li>

  <li [routerLinkActive]="['active']">
    <a [routerLink]="['./about']">About</a>
  </li>
</ul>
