<app-input
  [type]="'text'"
  [label]="'Name of command'"
  [value]="commandSettings.name"
  (valueEmitter)="commandSettings.name = $event"
></app-input>

<!-- It's placed here coz i couldn't extract it to separate component( -->
<div class="input-field col s12">
  <select id="commandMethod" [(ngModel)]="commandSettings.method">
    <option selected>GET</option>
    <option>POST</option>
    <option>PATCH</option>
    <option>PUT</option>
    <option>DELETE</option>
  </select>
  <label for="commandMethod">Choose command method</label>
</div>

<app-input
  [type]="'url'"
  [label]="'Base URL'"
  [value]="commandSettings.base_url"
  (valueEmitter)="commandSettings.base_url = $event"
></app-input>

<app-input
  [type]="'text'"
  [label]="'Endpoint'"
  [value]="commandSettings.endpoint"
  (valueEmitter)="commandSettings.endpoint = $event"
></app-input>

<app-input-number
  [label]="'Timeout'"
  [value]="commandSettings.timeout"
  (valueEmitter)="commandSettings.timeout = $event"
  [min]="1"
  [max]="15"
></app-input-number>

<div class="col s12">
  <p>
    <app-input-checkbox
      [label]="'Pass arguments in URL'"
      [value]="commandSettings.pass_arguments_in_url"
      (valueEmitter)="commandSettings.pass_arguments_in_url = $event"
    ></app-input-checkbox>
  </p>
</div>

<app-headers-adding
  [headers]="headers"
  (addHeader)="addHeader.emit()"
  (removeHeader)="removeHeader.emit($event)"
></app-headers-adding>

<app-cookies-adding
  [cookies]="cookies"
  (addCookie)="addCookie.emit()"
  (removeCookie)="removeCookie.emit($event)"
></app-cookies-adding>
