/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

.toast {
  &.toast-success {
    background-color: green;
  }

  &.toast-error {
    background-color: red;
  }
}

.margin-l10 {
  margin-left: 10px !important;
}

.margin-t10 {
  margin-top: 10px !important;
}

.margin-t5 {
  margin-top: 10px !important;
}

.margin-b10 {
  margin-bottom: 10px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.dropdown-content li>span {
  color: #000 !important;
}

/* label color */
.input-field label {
  color: #000 !important;
}

/* label focus color */
.input-field input:focus + label {
  color: #000 !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000 !important;
}

.display-block {
  display: block !important;
}
